{% extends "index.html" %}

{% block title %}
Consultar Reservas
{% endblock %}

{% block body %}
<div class="container-fluid py-4">
    <h1>Reservas</h1>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover table-fixed tablecustom" table id="restaurantes">

            <thead class="thead-dark">
                <tr>
                    <th>Restaurante</th>
                    <th>Mesa</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Estado</th>
                    <th>Cancelar</th>

                </tr>
            </thead>


            {% for item in reservas %}
            <tr>
                <td>{{item.domo_restaurante.rtr_nombre}}</td>
                <td>{{item.domo_mesa.msa_numero}}</td>
                <td>{{item.domo_reserva.rsv_fecha}}</td>
                <td>{{item.domo_reserva.rsv_hora}}</td>
                <td>{{item.domo_reserva.rsv_estado}}</td>
                <td><a href="{{url_for('cli_cancelar_reserva', rsv_id = item.domo_reserva.rsv_id, cli_id=cli_id)}}" class='btn btn-danger'>
                    <i class="fa fa-times" aria-hidden="true"></i></a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}