{% extends "index.html" %}

{% block title %}
Horarios Restaurante
{% endblock %}

{% block content %}
    <div>
      <h2>Aquí se podrán editar y consultar los horarios del restaurante</h2>
    <a class="btn btn-secondary right" id="nuevo">+ Nuevo</a>
    <table class="table table-striped table-bordered table-hover tablecustom table1" id="horarios" >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col" hidden>id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apertura</th>
            <th scope="col">Cierre </th>
            <th scope="col">Día Inicio</th>
            <th scope="col">Día Fin </th>
              {% if isGestionable %}
            <th>Editar</th>
            <th>Eliminar</th>
              {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for data, i in horarios_count %}
          <tr> 
            <form action="{{url_for('editor_horarios')}}", method = "post">
            <th scope="row">{{i}}</th>
            <td hidden>{{data.domo_horario.hor_id}}</td>
            <td>
              aki iria el nombre cuando exista en la bdd
              
            </td>
            <td>{{data.domo_horario.hor_horainicio}}</td>
            <td>{{data.domo_horario.hor_horatermino}}</td>
            <td>{{data.domo_horario.hor_diainicio}}</td>
            <td>{{data.domo_horario.hor_diatermino}}</td>
              {% if isGestionable %}
                <th><a value id="btn_submit" class="btn btn-secondary table-row-edit edit-button" >Editar</a></th>
                <th><a href="#" class="btn btn-danger btn-delete" onclick="return confirm('¿Estás seguro de eliminar este horario?');">Eliminar</a></th>
                
              {% endif %}
            </form>
          {% endfor%}
          </tr>
        </tbody>
      </table>
    </div>
    
    
{% endblock %}


{% block script %}
<script src="{{ url_for('static',filename='js/CRUD-Horarios/editor_horario.js') }}"></script>
{% endblock %}