{% extends "index.html" %}

{% block title %}
Carta Restaurante
{% endblock %}

{% block content %}
<div class="container">
    <div id="flex-div">
        <h2>Aquí se podrán editar y consultar las cartas del restaurante</h2>
        <!-- <select class="combo_nombre half" onChange="combo(this, 'demo')"> 
            {%for nombre in lista_rtr%}
            <option>{{nombre}}</option>
            {%endfor%}
        </select> -->
        <a class="btn btn-success table-dependant col-xs-6" id="nuevo">+ Nuevo</a>
    </div>
  <table class="table table-striped table-bordered table-hover tablecustom table1" id="cartas" >
      <thead>
        <tr>
          <th scope="col">#</th>
          <th hidden scope="col">id_rtr <a id="rtr_names">{{rtr_names}}</a></th>
          <th scope="col">Restaurant</th>
          <th id="nombre" scope="col">Nombre</th>
          <th scope="col" id="descarga">Descarga</th>

          <th>Opciones</th>
          
        </tr>
      </thead>
      <tbody>
        {%for dato in lista_cartas%}
          <tr> 
          <form id="data" action="{{url_for('editor_cartas')}}", method = "post">
          <th scope="row">{{dato.domo_carta.car_id}} </th>
          <td id="id" hidden>{{dato.domo_restaurante.rtr_id}}</td>
          <th scope="row">{{dato.domo_restaurante.rtr_nombre}}</th>
          <td id="nombre_car"> {{dato.domo_carta.car_nombre}} <input id="car_nombre" type="text" hidden/></td>
          <th id="link"> <a  href="{{dato.domo_carta.car_url}}">Link a carta !!</a> </th>
          
          <th><a value id="btn_submit" class="btn btn-secondary table-row-edit edit-button" >Editar</a><a class="btn btn-danger btn-delete">Eliminar</a></th>
          </form>
         </tr>
        {% endfor%}
        
      </tbody>
    </table>
    
  </div>

  <div hidden id="data">{{lista_rtr}}</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static',filename='js/CRUD-Horarios/editor_carta.js') }}"></script>
{% endblock %}