{% extends "index.html" %}

{% block title %}
Carta Restaurante
{% endblock %}

{% block content %}
<div class="container">
    <div id="flex-div">
        <h2>Aquí se podrán editar y consultar las cartas del restaurante</h2>

        <a class="btn btn-success table-dependant col-xs-6" href="{{url_for('add_carta', rtr_names = rtr_names)}}" id="nuevo">+ Nuevo</a>
    </div>
  <table class="table table-striped table-bordered table-hover tablecustom table1" id="cartas" >
      <thead>
        <tr>
          <th scope="col">#</th>
          <th hidden scope="col">id_rtr <a id="rtr_names">{{rtr_names}}</a></th>
          <th scope="col">Restaurant</th>
          <th id="nombre" scope="col">Nombre </th>
          <th scope="col" id="descarga">Descarga</th>

          <th>Opciones</th>
          
        </tr>
      </thead>
      <tbody>
        {%for dato in lista_cartas%}
          <tr> 
          <form id="dataa" href="{{url_for('nueva_carta', car_id = dato.domo_carta.car_id)}}", method = "post" enctype="multipart/form-data">
            <th id="car_id" scope="row">{{dato.domo_carta.car_id}} </th>
            <td id="id" hidden>{{dato.domo_restaurante.rtr_id}}</td>
            <th scope="row">{{dato.domo_restaurante.rtr_nombre}}</th>
            <td id="car_nombre"> {{dato.domo_carta.car_nombre}} <input id="car_nombre" type="text" hidden/></td>
            <th id="linkk"> 
              <a class="link" href="{{dato.domo_carta.car_url}}">Link a carta !!</a> 
              <input hidden class="plswork" type="file" name = "new_carta">
              <input hidden class="plswork" type="submit">
            </th>
            
            <th><a value id="btn_submit" class="btn btn-secondary table-row-edit edit-button" >Editar</a>
              <a class="btn btn-danger btn-delete">Eliminar</a>
            </th>
          </form>
         </tr>
        {% endfor%}
        
      </tbody>
    </table>
    
  </div>


{% endblock %}

{% block script %}
<script src="{{ url_for('static',filename='js/CRUD-Horarios/editor_carta.js') }}"></script>
{% endblock %}