{% extends "index.html" %}

{% block title %}
Ingresar Restaurante
{% endblock %}

{% block body %}
<!--Imprimir cajas de texto para ingresar los datos de la actividad, y crear un botón de guardado.-->
<section class="registro-fondo">

  <div class="row g-0">
    <div class="col-lg-4 d-none d-lg-block">

    </div>
    <div class="form-register col-lg-4 bg-dark d-flex flex-column align-items-end min-vh-100" id="formulariosito">

      <div class="px-lg-5 pt-lg-4 pb-lg-3 p-4 mb-auto w-100">
        <img src="{{url_for('static',filename='Logo.svg')}}" class="img-fluid" />
      </div>
      <div class="align-self-center w-100 px-lg-5 py-lg-4 p-4">
        <h1 class="font-weight-bold mb-4">Ingrese datos de Restaurante:</h1>
        <!--Acción de la forma-->
        <form action="{{url_for('ingresar_restaurante_post')}}" , method="post" id="ingresar_restaurante"
          class="mb-5 was-validated">
          <!--Nombre Restaurante-->
          <div class="mb-4">
            <label for="nombre">Nombre del Restaurante:</label>
            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="La picá de Alcachofas" required />
            <div class="invalid-feedback">Por favor, ingresa un Nombre de Restaurante</div>
            <div class="valid-feedback">Genial!!</div>
          </div>
          <!--Calle-->
          <div class="mb-4">
            <label for="calle">Calle:</label>
            <input type="text" name="calle" id="calle" placeholder="21 de mayo" class="form-control" required />
            <div class="invalid-feedback">Ingresa el nombre de la calle del Restaurante</div>
            <div class="valid-feedback">Muy Bien!!</div>
          </div>
          <!--Numero de domicilio-->
          <div class="mb-4">
            <label for="numero">Número de domicilio:</label>
            <input type="number" name="numero" id="numero" placeholder="774" class="form-control" required />
            <div class="invalid-feedback">Ingresa el numero de domicilio del Restaurante</div>
            <div class="valid-feedback">Excelente!!</div>
          </div>
          <!--Region-->
          <div class="mb-4">
            <label for="region">Región:</label>
            <select name="region" id="regionsita" class="form-select js-example-basic-single" style="width: 100%;">
              <option value="" selected hidden disabled>Seleccione una región</option>
              {% for item in regiones %}
              <option value="{{item.reg_id}}">{{item.reg_nombre}}</option>
              {% endfor %}
            </select>
            <div id="error_region"></div>
          </div>
          <!--Ciudad-->
          <div class="mb-4">
            <label for="ciudad">Ciudad:</label>
            <select name="ciudad" class="form-select js-example-basic-single" id="ciudad" style="width: 100%;">
              <option value="" selected hidden value>Seleccione Región</option>
            </select>
            {% for item in regiones %}
            <select name="{{item.reg_id}}" id="{{item.reg_id}}"
              class="form-select js-example-basic-single form-select" style="width: 100%;">
              <option value="" selected hidden disabled>Seleccione Ciudad</option>
              {% for ciudad in ciudades %}
              {% if ciudad.reg_id == item.reg_id %}
              <option value="{{ciudad.ciu_id}}">{{ciudad.ciu_nombre}}</option>
              {% endif %}
              {%endfor%}
            </select>
            <div id="error_ciudad"></div>
            {% endfor %}
            
          </div>
          <!--Nombre del Dueño-->
          <div class="mb-4">
            <label for="nombre dueño"> Nombre del dueño: </label>
            <input type="text" id="nombre_dueno" name="nombre_dueno" placeholder="Juan" class="form-control" required />
            <div class="invalid-feedback">Ingresa el Nombre del Dueño del Restaurante</div>
            <div class="valid-feedback">Excelente!!</div>
          </div>
          <!--Apellido del Dueño-->
          <div class="mb-4">
            <label for="apellido_dueno"> Apellido del dueño:</label>
            <input type="text" id="apellido_dueno" name="apellido_dueno" placeholder="Montes" class="form-control"
              required />
            <div class="invalid-feedback">Ingresa el Apellido del Dueño del Restaurante</div>
            <div class="valid-feedback">Muy Bien!!</div>
          </div>
          <!--Descripcion del retaurante-->
          <div class="mb-4">Descripción del Restaurante:
            <textarea class="form-control" name="descripcion" rows="5" cols="40"
              placeholder="Descripción del restaurante" id="descripcion" required></textarea>
            <div class="invalid-feedback">Ingresa una descripcion para el Restaurante</div>
            <div class="valid-feedback">Looks great!!</div>
          </div>

          <!--Select de tipos de restaurante-->
          <div class="mb-4">Tipo de Restaurante:
            <select name="tipo_rest" id="tipo_rest" class="form-select js-example-basic-single" required>
              <option value="" disabled selected hidden>Seleccione tipo</option>
              {% for item in tipo_restaurante %}
              <option value="{{item.tpr_id}}">{{item.tpr_nombre}}</option>
              {% endfor %}
            </select>
            <div class="invalid-feedback">Selecciona un tipo de restaurante</div>
            <div class="valid-feedback">Impresionante!!</div>
          </div>
          <!--Opcion Vegetariana-->
          <div class="mb-4">Opción vegetariana:
            <select name="vegetariana" id="op_vege" class="form-select" required>
              <option value="" disabled selected hidden>Seleccione opción</option>
              <option value=true>Si</option>
              <option value=false>No</option>
            </select>
            <div class="invalid-feedback">Selecciona si tiene Opcion Vegetariana</div>
            <div class="valid-feedback">Nice!!</div>
          </div>
          <!--Opcion de Vegana-->
          <div class="mb-4">Opción vegana:
            <select name="vegana" id="op_vega" class="form-select" required>
              <option value="" disabled selected hidden>Seleccione opción</option>
              <option value=true>Si</option>
              <option value=false>No</option>
            </select>
            <div class="invalid-feedback">Selecciona si tiene Opcion Vegana</div>
            <div class="valid-feedback">Cool!!</div>
          </div>
          <!--Boton-->
          <div class="mb-4" id="botonsito">
            <input class="btn btn-submit" type="submit" value="[INGRESAR]" style="justify-content:center" onclick="return validate()"/>
          </div>
        </form>
      </div>
    </div>
    <div class="col-lg-4 d-none d-lg-block">
    </div>
  </div>


</section>

{% endblock %}

{% block script %}
<script>
$(document).ready(function() {
  $('#regionsita').select2({placeholder: 'Seleccione Región', allowClear: true});

});

$(document).ready(function() {
  $('#ciudad').select2({placeholder: 'Seleccione Región', allowClear: true});
});

$(document).ready(function(){
  let i=0;
  $($('#regionsita').children('option')).each(function(){
    $('#'+i).select2({placeholder: 'Seleccione Ciudad', allowClear: true}).next().hide();
    i++;
  });
});

$('#regionsita').change(function(){
    if($('#regionsita').val()==0){
    $('#ciudad').select2().next().show();
    let i=1;
    $($('#regionsita').children('option')).each(function(){
      $('#'+i).select2().next().hide();
      i++;
    });
  }else{
    $('#ciudad').select2().next().hide();
    let i=1;
    $($('#regionsita').children('option')).each(function(){
      if(i==$('#regionsita').val()){
        $('#'+i).select2().next().show();
      }else{
        $('#'+i).select2().next().hide();
      }
      i++;
    });
  }
}); 


  (function () {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }

          form.classList.add('was-validated')
        }, false)
      })
  })

  function validate(){

    var error = document.getElementById('error_region');
    var ec = document.getElementById('error_ciudad');
    var select = document.getElementById('regionsita');
    var value = select.value;
    ec.style.color='red';
    error.style.color='red';

    if(value==""){
      error.innerHTML='Seleccione Región'
      return false;
    }else{
      var ciudad = document.getElementById(value);
      var valor = ciudad.value;
      if(valor==""){
        ec.innerHTML='Seleccione Ciudad'
        return false;
      }else{
        return true;
      }
    }
  }
</script>

{% endblock %}