@import url('https://fonts.googleapis.com/css?family=Rock+Salt');

:root {
    --dark: #601b90;
    --dark-x: #310746; 
    --light: #B0B5F8;
    --white: #FFFFFF;
}

.navbar{
    background-image: linear-gradient(to right, #310746, #601b90);
    /*-color: rgb(23, 96, 231);*/
    text-align: center;
}

body {
    padding-top: 20px;
    font-family: 'Spartan', sans-serif;
    font-weight: 300;
    color: var(--light);
}

.text-light { color: var(--light) !important; }
.bg-dark { background-color: var(--dark) !important; }
.bg-dark-x { background-color: var(--dark-x); }

.btn {
    min-height: 3.125rem;
    font-weight: 600;
}

.form-control {
    min-height: 3.125rem;
    line-height: initial;
}
.form-control:focus {
    background-color: #FFFFFF;
    outline: none;
}
.form-text {
    color: #BDBAD1 !important;
}
.other-text{
    color: #BDBAD1 !important;
}

.img-1 {
    background-image: url('../static/media/img00.jpg');
    background-size: cover;
    background-position: center;
}

.img-0 {
    background-image: url('../static/media/img44.jpg');
    background-size: cover;
    background-position: center;
}

.text-muted{
    color: #BDBAD1 !important;
}

.registro{
    color: #FFFFFF !important;
}

.tablecustom {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-bottom: #FFFFFF solid 1px;
    border: 3px solid #FFFFFF;
    border-radius: 10px;
    background-color: #9117A6;
    font-family: sans-serif;
    font-size: 15pt;
}

.black-background{
    background-color: black;
    border-radius: 1.5rem;
    opacity: 0.6;
}

.reserva-container{
    padding-top: 2.25rem;
}

.reserva-background {
    background-image: url('../static/media/img3.jpg');
}

.grid-reserva {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
.grid-reserva .grid1 { grid-area: 1 / 1 / 2 / 3; display: grid;  align-items: center;      /* new */
    justify-items: center; padding:1rem;   }
.grid-reserva .grid2 { grid-area: 1 / 3 / 2 / 6; display:grid;      /* new */
    justify-items: center; padding:1rem; }  
.grid-reserva .grid3 { grid-area: 1 / 6 / 2 / 7; display:grid;      /* new */
    justify-items: center; padding:1rem;}

.style-form{
    background: #FFFFFF;
    padding: 5px;    
    margin: auto;
    width: 100%;
    margin-bottom: 3rem;
    box-shadow: 7px 13px 37px #000000;
    border-radius: 15px;
}

.style-image{
    background: #FFFFFF;    
    box-shadow: 7px 13px 37px #000000;
    border-radius: 15px;
    width: 90%;
    height: 90%;
}

.btn-color{
    background-color: #601b90;
    border-color: var(--dark-x);
}

.card-img-top {
    width: 100%;
    height: 28vw;
    display:block;
    margin-left: auto;
    margin-top: auto;
    padding: 1rem;
}