@import url('https://fonts.googleapis.com/css?family=Rock+Salt');
@import "styles/reservas.css";
@import "styles/tablarestaurantes.css";
@import "styles/perfil.css";

:root {
    --dark: #601b90;
    --dark-x: #310746; 
    --light: #B0B5F8;
    --white: #FFFFFF;
}

.navbar{
    background-image: linear-gradient(to right, #310746, #601b90);
    /*-color: rgb(23, 96, 231);*/
    text-align: center;
}

body {
    padding-top: 20px;
    padding-top: 0 !important;
    font-family: 'Spartan', sans-serif;
    font-weight: 300;
    color: var(--light);
    width: 100%;
    min-width: auto;
    height: auto;
}

.text-light { color: var(--light) !important; }
.bg-dark { background-color: var(--dark) !important; }
.bg-dark-x { background-color: var(--dark-x); }

.btn {
    font-weight: 600;
}

.form-control {
    min-height: 3.125rem;
    line-height: initial;
}
.form-control:focus {
    background-color: #FFFFFF;
    outline: none;
}
.form-text {
    color: #BDBAD1 !important;
}
.other-text{
    color: #BDBAD1 !important;
}

.img-1 {
    background-image: url('../static/media/img00.jpg');
    background-size: cover;
    background-position: center;
}

.img-0 {
    background-image: url('../static/media/img44.jpg');
    background-size: cover;
    background-position: center;
}

.text-muted{
    color: #BDBAD1 !important;
}

.registro{
    color: #FFFFFF !important;
}

.tablecustom {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-bottom: #FFFFFF solid 1px;
    border: 3px solid #FFFFFF;
    border-radius: 10px;
    background-color: #9117A6;
    font-family: sans-serif;
    font-size: 15pt;
}

.form-register{
    /*color: #FFFFFF !important;*/
    background: #FFFFFF;
    padding: 5px;    
    margin: auto;
    margin-top: 50px;
    box-shadow: 7px 13px 37px #000000;
    border-radius: 15px;
    margin-bottom: 5%;
}

.registro-fondo{
    background-image: url(../static/media/img3.jpg);
}



.content{
    padding-top: 2rem; 
}

.opacity{
    opacity: 0.5;
    background-color: #000000;
    border-radius: 1rem;
}

#botonsito{
    text-align: center;
    margin-bottom: 5%;
}

.btn-submit{
    background-color: aqua;
}

.btn-submit:hover{
    background-color: rgb(0, 234, 234);
}


.login .card{
    margin-top: 2%;
    background-color: #310746;
    border-radius: 1rem;
    width: 99%;
}

/*Caso de Uso Mulchi*/
.silla{
    width: 36px;
    height: 36px;
    font-size: 36px;
    text-shadow: 1px 1px black;
    background-color: hsla(0, 0%, 0% ,0) !important;
    border: 1px solid hsla(0, 0%, 0% ,0) !important;
    margin-top: -8px;
    margin-left: 2px;
}

.mesa{
    width: 72px;
    height: 72px;
    background-color: crimson !important;
}

.fa-chair{
    color: chartreuse;
}

.fa-cutlery{
    margin-left: 18px;
    margin-top: 16px;
    font-size: 1.6em;
}

.draggable{
    left: 350px;
    top: 448px;
    position: absolute;
    cursor: move;
}

.btn{
    text-shadow: 1px 1px #000000;
    color: white;
    margin: 0.15em;
}

.btn-default{
    font-size: 13px;
    background-color: #8d6db8;
    box-shadow: 2px 2px #491f4e;
}

.btn-default:active{
    background-color: #533575;
    color: gray;
}

#grid{
    margin-top: 40px;
    width: 40.57em;
    height: 40.56em;
    background-color: #603e86;
    background-image:
        repeating-linear-gradient(#ccc 0 1px, transparent 1px 50%),
        repeating-linear-gradient(90deg, #ccc 0 1px, transparent 1px 50%);
    background-size: 72px 72px;
}

#editor-grid{
    width: 650px;
}

.flex{
    display: flex;
}


.card-overlay {
    background: rgba(0, 0, 0, 0.7);
}

#formulario-registro .error{
    color: rgb(250, 75, 75);
    display:block;
}

