{% extends "index.html" %}
{% block title %}
Gestionar Mesas
{% endblock %}
{% block body %}

<head>
    <style>
        #draggable{
            width: 100px; 
            padding: 0.5em;
            position: relative; 
            cursor: grab;
        }
    </style>
</head>

<body>
    <div><!--Editor Drag and Drop-->
        <div class="container-fluid py-4 ">  
            <h1>Lista de Mesas</h1>
        
        <div id="draggable" class="ui-widget-content">
            <p>Drag me</p>
        </div>
        </div>
    </div>
</body>

{% block script %}
<script>
    jQuery(document).ready( function (){
        jQuery( "#draggable" ).draggable();
    });
</script>
{% endblock %}

{% endblock %}