{% extends "index.html" %}
{% block title %}
Gestionar Restaurantes
{% endblock %}
{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="container fluid" id="tablita">
            <div class="panel">
                <div class="panel-heading container-fluid">
                    <div class="row">
                        <div class="col" id="xd">
                            <h1>Lista de Restaurantes</h1>
                        </div>
                        <div class="col" id="columnita">
                            <div class="btn-group">
                                <a href="{{url_for('ingresar_restaurante')}}" class="btn btn-default" title="add"
                                    id="btn">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-responsive table-sm" id="restaurantes">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Tipo de <br> Restaurante</th>
                                <th>Calle</th>
                                <th>Número <br> de Domicilio</th>
                                <th>Ciudad</th>
                                <th>Región</th>
                                <th>Opcion<br> Vegetariana</th>
                                <th>Opción<br> Vegana</th>
                                <th>Nombre<br> Dueño</th>
                                <th>Apellido<br> Dueño</th>
                                <th>Opciones</th>

                            </tr>
                        </thead>

                        {% for item in restaurantes %}
                        <tr>
                            <td>{{item.domo_restaurante.rtr_nombre}}</td>
                            <td>{{item.domo_restaurante.rtr_descripcion}}</td>
                            <td>{{item.domo_tiporestaurante.tpr_nombre}}</td>
                            <td>{{item.domo_direccion.dir_nombrecalle}}</td>
                            <td>{{item.domo_direccion.dir_numerocalle}}</td>
                            <td>{{item.domo_ciudad.ciu_nombre}}</td>
                            <td>{{item.domo_region.reg_nombre}}</td>
                            {% if item.domo_restaurante.rtr_opvege == true %}
                            <td>Si</td>
                            {% else %}
                            <td>No</td>
                            {% endif %}
                            {% if item.domo_restaurante.rtr_opvegan == TRUE %}
                            <td>Si</td>
                            {% else %}
                            <td>No</td>
                            {% endif %}
                            <td>{{item.domo_restaurante.rtr_duenonombre}}</td>
                            <td>{{item.domo_restaurante.rtr_duenoapellido}}</td>
                            <td>
                                <ul class="action-list">
                                    <li><a href="{{url_for('editar_template',id=item.domo_restaurante.rtr_id)}}"
                                            data-tip="edit"><i class="fa fa-edit"></i></a></li>
                                    <li><a href="{{url_for('eliminar_rest',id=item.domo_restaurante.rtr_id)}}" data-tip="delete" id="{{loop.index}}" onclick="confirmar(this.id)">
                                        <i class="fa fa-trash" ></i></a></li>
                                    <input type="hidden" name="{{loop.index}}" value="¿Está seguro que quiere eliminar el restaurante {{item.domo_restaurante.rtr_nombre}} ubicado en {{item.domo_direccion.dir_nombrecalle}} {{item.domo_direccion.dir_numerocalle}}, {{item.domo_ciudad.ciu_nombre}}?">
                                </ul>
                            </td>
                        </tr>

                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>

    $(document).ready(function () {
        $('#restaurantes').DataTable({

            "bDeferRender": true,
            "oLanguage": {
                "sEmptyTable": "No hay registros disponibles",
                "sInfo": "Hay _TOTAL_ registros. Mostrando de (_START_ a _END_)",
                "sLoadingRecords": "Por favor espera - Cargando...",
                "sSearch": "Filtro:",
                "sLengthMenu": "Mostrar _MENU_",
                "oPaginate": {
                    "sLast": "Última página",
                    "sFirst": "Primera",
                    "sNext": '<i class="fa fa-chevron-right" pagination-right></i>',
                    "sPrevious": '<i class="fa fa-chevron-left" ></i>'
                }
            }
        });
    }
    );

    function confirmar(id) {
        var mensaje = document.getElementsByName(id)[0].value;
        let text;
        if (confirm(mensaje) == true) {
            text = "El restaurante será eliminado";
        } else {
            text = "Se cancela la acción";
        }
    }
</script>



{% endblock %}