{% extends "index.html" %}

{% block title %}
Ingresar Restaurante
{% endblock %}

{% block body %}
<!--Imprimir cajas de texto para ingresar los datos de la actividad, y crear un botón de guardado.-->
<div class="container">
  <div class="row header">
    <h1>Ingresar un Restaurante: &nbsp;</h1>
    <h3>Por favor, llene el siguiente formulario.</h3>
  </div>
  <div class="row body">
    <!--Acción de la forma-->
    <form action="{{url_for('ingresar_restaurante_post')}}" , method="post" id="ingresar_restaurante">
      <ul type="square">
        <!--Nombre Restaurante-->
        <li>
          <p class="left">
            <label for="nombre">Nombre del Restaurante:</label>
            <input type="text" name="nombre" placeholder="La picá de Alcachofas" required />
          </p>
        </li>
        <!--Calle-->
        <li>
          <p class="left">
            <label for="calle">Calle:</label>
            <input type="text" name="calle" placeholder="21 de mayo" />
          </p>
        </li>
        <li>
          <!--Numero de domicilio-->
          <p class="left">
            <label for="numero">Número de domicilio:</label>
            <input type="text" name="numero" placeholder="774" />
          </p>
        </li>
        <li>
          <!--Region-->
          <p class="left">
            <label for="region">Región:</label>
            <select name="region" id="regionsita" onchange="mostrar()">
              <option value="0">Seleccione Region</option>
              {% for item in regiones %}
              <option value="{{item.reg_id}}">{{item.reg_nombre}}</option>
              {% endfor %}
            </select>
          </p>
        </li>

        <div>
          <li>
            <!--Ciudad-->
            <p class="left">
              <label for="ciudad">Ciudad:</label>
              <select name="ciudad" id="ciudad">
                <option value="0">Seleccione Región</option>
              </select>

              {% for item in regiones %}
              <select name="{{item.reg_id}}" id="{{item.reg_id}}" hidden>
                <option value="0">Seleccione Ciudad</option>
                {% for ciudad in ciudades %}
                {% if ciudad.reg_id == item.reg_id %}
                <option value="{{ciudad.ciu_id}}">{{ciudad.ciu_nombre}}</option>
                {% endif %}
                {%endfor%}
              </select>
              {% endfor %}
            </p>
          </li>
        </div>
        <li>
          <!--Nombre del Dueño-->
          <p class="left">
            <label for="nombre dueño"> Nombre del dueño: </label>
            <input type="text" name="nombre_dueno" placeholder="Juan" />
          </p>
        </li>
        <li>
          <!--Apellido del Dueño-->
          <p class="left">
            <label for="apellido_dueno"> Apellido del dueño:</label>
            <input type="text" name="apellido_dueno" placeholder="Montes" />
          </p>
        </li>
        <li>
          <!--Descripcion del retaurante-->
          <p class="left">
            <textarea name="descripcion" rows="5" cols="40" placeholder="Descripción del restaurante"></textarea>
          </p>
        </li>
        <!--Select de tipos de restaurante-->
        <li>
          <p class="left">Tipo de Restaurante:
            <select name="tipo_rest" required>
              <option value="xd">Seleccione tipo</option>
              {% for item in tipo_restaurante %}
              <option value="{{item.tpr_id}}">{{item.tpr_nombre}}</option>
              {% endfor %}
            </select>
          </p>
        </li>
        <!--Opcion Vegetariana-->
        <li>
          <p class="left">Opcion Vegetariana:
            <select name="vegetariana" required>
              <option value="-1">Seleccione opción</option>
              <option value=true>Si</option>
              <option value=false>No</option>
            </select>
          </p>
        </li>
        <!--Opcion de Vegana-->
        <li>
          <p class="left">Opcion Vegana:
            <select name="vegana" required>
              <option value="-1">Seleccione opción</option>
              <option value=true>Si</option>
              <option value=false>No</option>
            </select>
          </p>
        </li>
        <!--Boton-->
        <li>
          <input class="btn btn-submit" type="submit" value="[INGRESAR]" />
          <small>o presione <strong>enter</strong></small>
        </li>
      </ul>
    </form>
  </div>
</div>



{% endblock %}

{% block scripts %}
<script>

  function mostrar() {

    var region = document.getElementById("regionsita").value;
    var id = region.toString();
    var largo = document.getElementById("regionsita").length;
    
    if(region == 0){
      for(var i=1;i<largo;i++){
        document.getElementById(i).hidden = true;
      }
      document.getElementById("ciudad").hidden = false;
    }else{
      document.getElementById("ciudad").hidden = true;
      for(var i=1;i<largo;i++){
        document.getElementById(i).hidden = true;
      }
      document.getElementById(id).hidden = false;
    }
  
  }
</script>
{% endblock %}