{% extends "index.html" %}

{% block title %}
Ingresar Usuario Administrador
{% endblock %}

{% block body %}
<!--Imprimir cajas de texto para ingresar los datos de la actividad, y crear un botón de guardado.-->
<section class="registro-fondo">

  <div class="row g-0">
    <div class="col-lg-4 d-none d-lg-block">

    </div>
    <div class="form-register col-lg-4 bg-dark d-flex flex-column align-items-end min-vh-100" >

      <div class="px-lg-5 pt-lg-4 pb-lg-3 p-4 mb-auto w-100">
        <img src="{{url_for('static',filename='Logo.svg')}}" class="img-fluid" />
      </div>
      <div class="align-self-center w-100 px-lg-5 py-lg-4 p-4">
        <h1 class="font-weight-bold mb-4">Ingrese datos <br>del encargado <br>nuevo:</h1>
        <!--Acción de la forma-->
        <form action="{{url_for('ingresar_usuario_encargado')}}" method="post" class="mb-5" id="formulario-registro">
            
            <div class="mb-4">
              {{form.email.label}}
              {{form.email(class_="form-control")}}
            </div>
            <!--Cambiar Contraseña-->
            <div class="mb-4">
              {{form.password.label}}
              {{form.password(class_="form-control")}}
            </div>

            <div class="mb-4">
              {{form.confirm.label}}
              {{form.confirm(class_="form-control")}}
            </div>

            <div class="mb-4">
              {{form.estado.label}} <br>
              {{form.estado(class_="form-select")}}
            </div>

            <div class="mb-4">
              {{form.nombre.label}} 
              {{form.nombre(class_="form-control")}}

            </div>

            <div class="mb-4">
              {{form.apellido.label}} 
              {{form.apellido(class_="form-control")}}

            </div>

            <div class="mb-4">
              {{form.rut.label}} 
              {{form.rut(class_="form-control")}}

            </div>

            <div class="mb-4">
              {{form.restaurante.label}} 
              <br>
              <select name="restaurante" id="restaurante" class="js-example-basic-single" style="width: 100%;">
                <option value="0">Seleccione un restaurante</option>
                {% for item in restaurantes %}
                <option value="{{item.rtr_id}}">{{item.rtr_nombre}}</option>
                {% endfor %}
              </select>

            </div>

            <br>
            <!--Boton-->
            {{ form.submit(class_="btn btn-primary w-100") }}

        </form>
        </div>
      </div>
      <div class="col-lg-4 d-none d-lg-block">
      </div>
    </div>
    
  


</section>

{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('#restaurante').select2({placeholder: 'Seleccione Restaurante', allowClear: true});
  });

  $(document).ready(function(){
    let i=1;
    $($('#restaurante').children('option')).each(function(){
      $('#'+i).select2().next().hide();
      i++;
    });
  });

  $(document).ready(function() {

$.validator.addMethod("valueNotEquals", function(value, element, arg){
   return arg !== value;
}, "No debe seleccionar el valor por defecto");

$("#formulario-registro").validate({
rules: {
email: {
  required: true,
  email: true
},
password: {
        required: true,
        minlength: 6
},
confirm: {
        required: true,
        minlength: 6,
        equalTo: "#password"
},
restaurante: { 
  valueNotEquals: "0" }
},
messages: {
    nombre: "Campo requerido",
    apellido: "Campo requerido",
    rut: "Campo requerido",
    email: {
        required: "Campo requerido",
        email: "Ingrese un email valido"
    },
    restaurante: { valueNotEquals: "Selecciona un restaurante valido" },
    password:{
            required: "Campo requerido",
            minlength: "El largo de la contraseña es de 6 a 16 caracteres"

    },
    confirm:{
            required: "Campo requerido",
            minlength: "El largo de la contraseña es de 6 a 16 caracteres",
            equalTo: "Las contraseñas deben coincidir"
    }
  }
});
});

$("#rut")
.rut({formatOn: 'keyup', validateOn: 'keyup'})

(function () {
'use strict'

// Fetch all the forms we want to apply custom Bootstrap validation styles to
var forms = document.querySelectorAll('.needs-validation')

// Loop over them and prevent submission
Array.prototype.slice.call(forms)
.forEach(function (form) {
  form.addEventListener('submit', function (event) {
    if (!form.checkValidity()) {
      event.preventDefault()
      event.stopPropagation()
    }

    form.classList.add('was-validated')
  }, false)
})
})


</script>

{% endblock %}