{% extends "index.html" %}

{% block title %}
Actualizar Usuario Cliente
{% endblock %}

{% block body %}

<section class="registro-fondo">

    <div class="row g-0">
      <div class="col-lg-4 d-none d-lg-block">
  
      </div>
      <div class="form-register col-lg-4 bg-dark d-flex flex-column align-items-end min-vh-100">
  
        <div class="px-lg-5 pt-lg-4 pb-lg-3 p-4 mb-auto w-100">
          <img src="{{url_for('static',filename='Logo.svg')}}" class="img-fluid" />
        </div>
        <div class="align-self-center w-100 px-lg-5 py-lg-4 p-4">
          <h1 class="font-weight-bold mb-4">Actualice datos del Usuario:</h1>
          <!--Acción de la forma-->
          <form action="{{url_for('actualizar_usuario1',id=usuario.usr_id)}}" , method="post" id="editar_usuario" class="mb-5">
            <!--Login/Email Usuario-->
            <div class="mb-4">
              {{form.email.label}}
              <input type="text" class="form-control" name="email" placeholder="{{usuario.usr_login}}" />
              
            </div>

            <!--Cambiar Contraseña-->
            <div class="mb-4">
              {{form.password.label}}
              <input type="password" class="form-control" name="contrasena" placeholder="" />
            </div>
            

            <!--Nombre Usuario-->
            <div class="mb-4">
              {{form.nombre.label}}
              <input type="text" class="form-control" name="nombre" placeholder="{{cliente.cli_nombre}}" />
            </div>

            <!--Apellido Usuario-->
            <div class="mb-4">
              {{form.apellido.label}}
              <input type="text" class="form-control" name="apellido" placeholder="{{cliente.cli_apellido}}" />
            </div>

            <!--rut usuario-->
            <div class="mb-4">
              {{form.rut.label}}
              <input type="text" class="form-control" name="rut" placeholder="{{cliente.cli_rut}}" />
            </div>

            <!--Celular Usuario-->
            <div class="mb-4">
              {{form.celular.label}}
              <input type="text" class="form-control" name="celular" placeholder="{{cliente.cli_telefono}}" />
            </div>


            <div class="mb-4">
                {{ form.region.label }}
                <br>
                <select name="regiones" required id="regioness" class="js-example-basic-single" style="width: 100%;">
                    <option value="0">Seleccione Region</option>
                    {% for item in regiones %}
                    <option value="{{item.reg_id}}">{{item.reg_nombre}}</option>
             <!--     {{ form.region(class_="form-control") }}-->
                    {% endfor %}
                </select>
                </div>

                <div class="mb-4"> 
                {{ form.ciudad.label }}
                <br>
              <!-- <select name="ciudades" required id="ciudadess">--> 
                <select name="ciudad" required class="form-select js-example-basic-single" id="ciudad" style="width: 100%;">
                  <option value="0">Seleccione Región</option>
                </select>
                {% for item in regiones %}
                <select name="{{item.reg_id}}" id="{{item.reg_id}}" class="form-select js-example-basic-single form-select" style="width: 100%;" >
                  <option value="0">Seleccione Ciudad</option>  
                  {% for ciudad in ciudades %}
                    {%  if ciudad.reg_id == item.reg_id %}
                    
                    <option value="{{ciudad.ciu_id}}">{{ciudad.ciu_nombre}}</option>
                    
                    {% endif %}
                  {% endfor %}
                </select>
                {% endfor %}
               </div>

            <!--Calle Usuario-->
            <div class="mb-4">
              <div class="mb-4">
                {{form.calle.label}}
                <input type="text" class="form-control" name="calle" placeholder="{{direccion.domo_direccion.dir_nombrecalle}}" />
              </div>
            </div>

            <!--Numero Usuario-->
            <div class="mb-4">
              {{form.numero.label}}
              <input type="text" class="form-control" name="numero" placeholder="{{direccion.domo_direccion.dir_numerocalle}}" />
            </div>

            <!--Estado Usuario-->
            <div class="mb-4">
              {{form.estado.label}}
              <select name="estado" class="form-select js-example-basic-single">
                <option value="0">Seleccione estado</option>
                {% if usuario.usr_estado == 'ACTIVA' %}
                <option value="ACTIVA" selected>Activa</option>
                <option value="INACTIVA">Inactiva</option>
                <option value="PENDIENTE">Pendiente</option>
                <option value="BANEADA">Baneada</option>
                {% elif usuario.usr_estado == 'INACTIVA' %}
                <option value="ACTIVA">Activa</option>
                <option value="INACTIVA" selected>Inactiva</option>
                <option value="PENDIENTE">Pendiente</option>
                <option value="BANEADA">Baneada</option>
                {% elif usuario.usr_estado == 'PENDIENTE' %}
                <option value="ACTIVA">Activa</option>
                <option value="INACTIVA">Inactiva</option>
                <option value="PENDIENTE" selected>Pendiente</option>
                <option value="BANEADA">Baneada</option>
                {% elif usuario.usr_estado == 'BANEADA' %}
                <option value="ACTIVA">Activa</option>
                <option value="INACTIVA">Inactiva</option>
                <option value="PENDIENTE">Pendiente</option>
                <option value="BANEADA" selected>Baneada</option>

                {% endif %}
              </select>
            </div>
            
            <!--Boton-->
            {{ form.submit(class_="btn btn-primary w-100") }}
          </form>
        </div>
    </div>

      <div class="col-lg-4 d-none d-lg-block">
      </div>

    </div>

  </section>




{% endblock%}

{% block script %}
<script type="text/javascript">
    $(document).ready(function() {
      $('#regioness').select2({placeholder: 'Seleccione Región', allowClear: true});
    });
  
    $(document).ready(function() {
      $('#ciudad').select2();
    });
  
    $(document).ready(function(){
      let i=0;
      $($('#regioness').children('option')).each(function(){
        $('#'+i).select2().next().hide();
        i++;
      });
    });
  
    $('#regioness').change(function(){
        
        if($('#regioness').val()==0){
        $('#ciudad').select2().next().show();
        let i=0;
        $($('#regioness').children('option')).each(function(){
          $('#'+i).select2().next().hide();
          i++;
        });
      }else{
        $('#ciudad').select2().next().hide();
        let i=1;
        $($('#regioness').children('option')).each(function(){
          if(i==$('#regioness').val()){
            $('#'+i).select2().next().show();
          }else{
            $('#'+i).select2().next().hide();
          }
          i++;
        });
      }
    }); 
  </script>
{% endblock %}