{% extends "index.html" %}

{% block title %}
Ingresar Usuario Administrador
{% endblock %}

{% block body %}
<!--Imprimir cajas de texto para ingresar los datos de la actividad, y crear un botón de guardado.-->
<section class="registro-fondo">

  <div class="row g-0">
    <div class="col-lg-4 d-none d-lg-block">

    </div>
    <div class="form-register col-lg-4 bg-dark d-flex flex-column align-items-end min-vh-100" >

      <div class="px-lg-5 pt-lg-4 pb-lg-3 p-4 mb-auto w-100">
        <img src="{{url_for('static',filename='Logo.svg')}}" class="img-fluid" />
      </div>
      <div class="align-self-center w-100 px-lg-5 py-lg-4 p-4">
        <h1 class="font-weight-bold mb-4">Ingrese datos <br>del administrador <br>nuevo:</h1>
        <!--Acción de la forma-->
        <form action="{{url_for('ingresar_usuario_admin')}}" method="post" class="mb-5" id="formulario-registro">
            
            <div class="mb-4">
              {{form.email.label}}
              {{form.email(class_="form-control")}}
            </div>
            <!--Cambiar Contraseña-->
            <div class="mb-4">
              {{form.password.label}}
              {{form.password(class_="form-control")}}
            </div>
            
            <div class="mb-4">
              {{form.confirm.label}}
              {{form.confirm(class_="form-control")}}
            </div>

            <div class="mb-4">
              {{form.estado.label}} <br>
              {{form.estado(class_="form-select")}}
            </div>

            <br>
            <!--Boton-->
            {{ form.submit(class_="btn btn-primary w-100") }}

        </form>
        </div>
      </div>
      <div class="col-lg-4 d-none d-lg-block">
      </div>
    </div>
    
  </div>


</section>

{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>
<script type="text/javascript">

$("#formulario-registro").validate({
rules: {
email: {
  required: true,
  email: true
},
password: {
        required: true,
        minlength: 6
},
confirm: {
        required: true,
        minlength: 6,
        equalTo: "#password"
}
},
messages: {
    email: {
        required: "Campo requerido",
        email: "Ingrese un email valido"
    },
    password:{
            required: "Campo requerido",
            minlength: "El largo de la contraseña es de 6 a 16 caracteres"

    },
    confirm:{
            required: "Campo requerido",
            minlength: "El largo de la contraseña es de 6 a 16 caracteres",
            equalTo: "Las contraseñas deben coincidir"
    }
}
});



</script>

{% endblock %}