{% extends "index.html" %}

{% block title %}
Actualizar Usuario Administrador
{% endblock %}

{% block body %}

<section class="registro-fondo">

    <div class="row g-0">
      <div class="col-lg-4 d-none d-lg-block">
  
      </div>
      <div class="form-register col-lg-4 bg-dark d-flex flex-column align-items-end min-vh-100">
        <div class="px-lg-5 pt-lg-4 pb-lg-3 p-4 mb-auto w-100">
          <img src="{{url_for('static',filename='Logo.svg')}}" class="img-fluid" />
        </div>
        <div class="align-self-center w-100 px-lg-5 py-lg-4 p-4">
          <h1 class="font-weight-bold mb-4">Actualice datos del Usuario:</h1>
          <!--Acción de la forma-->
          <form action="{{url_for('actualizar_usuario3',id=usuario.usr_id)}}" , method="post" id="editar_usuario" class="mb-5">
          
            <!--Login/Email Usuario-->
            <div class="mb-4">
              {{form.email.label}}
              <input type="text" class="form-control" name="email" placeholder="{{usuario.usr_login}}" />
              
            </div>

            <!--Cambiar Contraseña-->
            <div class="mb-4">
              {{form.password.label}}
              <input type="password" class="form-control" name="contrasena" placeholder="" />
            </div>

            <!--Estado Usuario-->
            <div class="mb-4">
              {{form.estado.label}}
              <select name="estado" class="form-select js-example-basic-single">
                <option value="0">Seleccione estado</option>
                {% if usuario.usr_estado == 'ACTIVA' %}
                <option value="ACTIVA" selected>Activa</option>
                <option value="INACTIVA">Inactiva</option>
                <option value="PENDIENTE">Pendiente</option>
                <option value="BANEADA">Baneada</option>
                {% elif usuario.usr_estado == 'INACTIVA' %}
                <option value="ACTIVA">Activa</option>
                <option value="INACTIVA" selected>Inactiva</option>
                <option value="PENDIENTE">Pendiente</option>
                <option value="BANEADA">Baneada</option>
                {% elif usuario.usr_estado == 'PENDIENTE' %}
                <option value="ACTIVA">Activa</option>
                <option value="INACTIVA">Inactiva</option>
                <option value="PENDIENTE" selected>Pendiente</option>
                <option value="BANEADA">Baneada</option>
                {% elif usuario.usr_estado == 'BANEADA' %}
                <option value="ACTIVA">Activa</option>
                <option value="INACTIVA">Inactiva</option>
                <option value="PENDIENTE">Pendiente</option>
                <option value="BANEADA" selected>Baneada</option>

                {% endif %}
              </select>
            </div>

            <!--Boton-->
            {{ form.submit(class_="btn btn-primary w-100") }}
          </form>
        </div>

      

       </div>
        <div class="col-lg-4 d-none d-lg-block">
          </div>
    </div>


  </section>




{% endblock%}

{% block script %}

{% endblock %}