

.black-background{
    margin-top: 0.4rem;
    background-color: rgba(0,0,0,0.7);
    border-radius: 1.5rem;
    padding: 2rem;
    max-width: 96%;
}

.reserva-container{
    padding-top: 2.25rem;
}

.reserva-background {
    background-image: url('../static/media/img3.jpg');
    background-size: cover;
}

.grid-reserva {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
.grid-reserva .grid1 { grid-area: 1 / 1 / 2 / 3; display: grid;  align-items: center;      /* new */
    justify-items: center; padding:1rem;   }
.grid-reserva .grid2 { grid-area: 1 / 3 / 2 / 6; display:grid;      /* new */
    justify-items: center; padding:1rem; }  
.grid-reserva .grid3 { grid-area: 1 / 6 / 2 / 7; display:grid;      /* new */
    justify-items: center; padding:1rem;}

.style-form{
    background: #FFFFFF;
    padding: 5px;    
    margin: auto;
    width: 100%;
    margin-bottom: 3rem;
    box-shadow: 7px 13px 37px #000000;
    border-radius: 15px;
}

.style-image{
    background: #FFFFFF;    
    box-shadow: 7px 13px 37px #000000;
    border-radius: 15px;
    width: 90%;
    height: 90%;
}

.btn-color{
    background-color: #601b90;
    border-color: var(--dark-x);
}

.card-img-top {
    width: 100%;
    height: 28vw;
    display:block;
    margin-left: auto;
    margin-top: auto;
    padding: 1rem;
}

.reserva-container .card-header{
    font-weight: bold;
    color: var(--dark-x);
}

.reserva-container label{
    color: var(--dark-x)
}

.grid-top-reserva {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 1.7fr;
    grid-template-rows: 0.7fr 0 0.1fr; 
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.grid-top-reserva .gtitle { grid-area: 1 / 1 / 3 / 4;  word-wrap: break-word;overflow: hidden;}
.grid-top-reserva .gdown { grid-area: 3 / 1 / 4 / 4;  word-wrap: break-word;}
.grid-top-reserva .gdescription { grid-area: 1 / 4 / 4 / 5;  word-wrap: break-word; padding:0.2rem;  overflow: hidden;  /* NEW */
    min-width: 0;  } 

/* Sección de CSS donde el usuario no está registrado */
 
.grid-reserva-client {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        padding-top: 2rem;
        margin:0.5rem;
        margin-bottom: 0.1rem;
}
        
.grid-reserva-client .item-form { grid-area: 1 / 1 / 2 / 6; }
.grid-reserva-client .item-menu { grid-area: 1 / 6 / 2 / 7; }

.wp-img{
    max-width: 35%;
    right: 150px;
}

.style-form .row{
    padding: 1rem;
}


.reserva-exitosa-img{
    transform: scaleX(-1);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.black-background-val{
    margin-left:3rem;
    margin-right:3rem;
    margin-bottom:1rem;
    background-color: rgba(0,0,0,0.7);
    border-radius: 1.5rem;
    padding: 2rem;
    max-width: 100%;
    margin-top:0.2rem;
}

.disabled-state {
    pointer-events: none;
    opacity: 0.4;
}

#cliente_form .error{
    color: red;
    display:block;
}
