.demo{ font-family: 'Noto Sans', sans-serif; }

#tablita{
    margin-top: 3%;
    padding-bottom: 3%;
}
.panel{
    background: linear-gradient(to right, #310746, #9117A6);
    padding: 0;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 0 5px rgba(0,0,0,0.05),0 0 0 10px rgba(0,0,0,0.05);
    margin:auto;
    max-width: fit-content;
    width: 100%;
}

.panel .panel-heading{
    padding: 20px 15px;
    border-radius: 10px 10px 0 0;

}


.panel .panel-heading .title{
    color: #fff;
    font-size: 28px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 40px;
    margin: 0;
}

.panel .panel-heading{
    color: rgba(255,255,255,0.5);
    background: transparent;
    font-size: 16px;
    text-transform: capitalize;
   
}

#columnita{
    text-align: right;
}

#btn{
    color: rgba(255,255,255,0.5);
    background: transparent;
    border: 2px solid #fff;
    border-radius: 30px;
    transition: all 0.3s ease 0s;
    padding: 10px 16px;
}

.panel .panel-heading #btn:hover{
    color: #fff;
    text-shadow: 3px 3px rgba(255,255,255,0.2);
}

.panel .panel-heading{
    color: #fff;
    background-color: transparent;
    border-radius: 20px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}


.panel .panel-heading .input.form-control.form-control-sm::placeholder{
    color: rgba(255,255,255,0.5);
    font-size: 15px;
    font-weight: 500;
}

.panel .panel-body{ padding: 0; }

.panel .panel-body .table thead tr th{
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
    max-width: 100%;
    width: 100%;
}


.panel .panel-body .table tbody tr td{
    color: #fff;
    font-size: 15px;
    padding: 10px 12px;
    vertical-align: middle;
    border: none;
}

.panel .panel-body .table tbody tr:nth-child(even){ 
    background-color: rgba(255,255,255,0.05); 
}

.panel .panel-body .table tbody .action-list{
    padding: 0;
    margin: 0;
    list-style: none;
}



.panel .panel-body .table tbody .action-list li a{
    color: #fff;
    font-size: 15px;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
}

.panel .panel-body .table tbody .action-list li a:hover{ text-shadow: 3px 3px 0 rgba(255,255,255,0.3); }
.panel .panel-body .table tbody .action-list li a:before,
.panel .panel-body .table tbody .action-list li a:after{
    content: attr(data-tip);
    color: #fff;
    background-color: #111;
    font-size: 12px;
    padding: 5px 7px;
    border-radius: 4px;
    text-transform: capitalize;
    display: none;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: -32px;
    transition: all 0.3s ease 0s;
}

.panel .panel-body .table tbody .action-list li a:after{
    content: '';
    height: 15px;
    width: 15px;
    padding: 0;
    border-radius: 0;
    transform: translateX(-50%) rotate(45deg);
    top: -18px;
    z-index: -1;
}

.panel .panel-body .table tbody .action-list li a:hover:before,
.panel .panel-body .table tbody .action-list li a:hover:after{
    display: block;
}

.panel .panel-footer{
    color: #fff;
    background-color: transparent;
    padding: 15px;
    border: none;
}
.panel .panel-footer .col{ line-height: 35px; }

.panel .panel-body .table tbody .action-list li{
    display: inline-block;
    margin: 0 5px;
}

@media only screen and (max-width:767px){
    .panel .panel-heading .title{
        text-align: center;
        margin: 0 0 10px;
    }
    .panel .panel-heading .btn_group{ text-align: center; }
}

.form-select-sm{
    font-family: Capitalize !important; 
    font-size: 18px !important;
    border: 2px solid #fff !important;
    border-radius: 20px !important;
    background-color:  #310746 !important;
    color: #fff !important;
}

.form-select-sm:hover{
    text-shadow: 1px 1px rgba(255,255,255,0.2);
}

.form-control-sm{
    color: #fff;
    background-color: transparent;
    width: 76% !important;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 20px;
    display: inline-block !important;
    transition: all 0.3s ease 0s;
}

.form-control-sm:focus{
    background-color: rgba(255,255,255,0.2);
    box-shadow: none;
    outline: none;
}

ul.pagination{

    margin-left: 20rem !important;
    justify-content: center !important;
}

.page-item:not(:first-child) .page-link {
    margin-left: 8px;
}

.page-link{
    color: #fff !important;
    background-color: transparent !important;
    border: 2px solid transparent !important;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 31px;
    width: 35px;
    height: 35px;
    padding: 0;
    margin: 0 3px;
    border-radius: 50px !important;
    transition: all 0.3s ease 0s;
}

.page-link:hover{
    color: #fff !important;
    background-color: #310746 !important;
    border-color: rgba(255,255,255,0.2);
}

.page-link:focus{
    color: #310746 !important;
    background-color: transparent;
    border-color: #fff !important;
}
.page-item.active .page-link{
    color: #fff !important;
    background-color: transparent !important;
    border-color: #fff !important;
}
.page-item.active:hover .page-link{
    color: #fff !important;
    background-color: #310746 !important;
    border-color: #fff !important;
}

.dataTables_info{
    margin-left: 5px !important;
}