@import url('https://fonts.googleapis.com/css?family=Rock+Salt');

:root {
    --dark: #601b90;
    --dark-x: #310746; 
    --light: #B0B5F8;
}

.navbar{
    background-image: linear-gradient(to right, #310746, #601b90);
    /*-color: rgb(23, 96, 231);*/
    text-align: center;
}

body {
    padding-top: 5%;
    font-family: 'Spartan', sans-serif;
    font-weight: 300;
    color: var(--light);
}

.text-light { color: var(--light) !important; }
.bg-dark { background-color: var(--dark) !important; }
.bg-dark-x { background-color: var(--dark-x); }

.form-control {
    min-height: 3.125rem;
    line-height: initial;
}
.form-control:focus {
    background-color: #FFFFFF;
    outline: none;
}
.form-text {
    color: #BDBAD1 !important;
}
.other-text{
    color: #BDBAD1 !important;
}

.img-1 {
    background-image: url('../static/media/img00.jpg');
    background-size: cover;
    background-position: center;
}

.img-0 {
    background-image: url('../static/media/img44.jpg');
    background-size: cover;
    background-position: center;
}

.text-muted{
    color: #BDBAD1 !important;
}

.registro{
    color: #FFFFFF !important;
}

.tablecustom {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-bottom: #FFFFFF solid 1px;
    border: 3px solid #FFFFFF;
    border-radius: 10px;
    background-color: #9117A6;
    font-family: sans-serif;
    font-size: 15pt;
}
.table1{
    position: relative;
    width: 60%;
  }

.read-only{
    cursor: not-allowed;
}


.half{
    width: 40%;
    padding: 0%
}

.cancel-button{
    position: relative;
    left: 5%;
}
.paginate_button{
    color: rgb(56, 18, 53);
    font-weight: 600;
    margin-left : 1%;
}

.dataTables_filter{
    padding: 2em;
    margin-left: 12px;
}

.dataTables_length{
    padding: 1em;
    margin-left: 10px;
    max-width:15em;
}

#nuevo{
    display: flex;
    width: 7em;
    margin-left: 10px;
    margin-bottom: 1em;
    
}

#flex-div{
    display: flex;
    flex-direction: column;
    align-items: right;
}

.btn-delete{
    margin-left: 10px;
}

.was-validated .form-select:invalid + .select2 .select2-selection{
    border-color: #dc3545!important;
}
.was-validated .form-select:valid + .select2 .select2-selection{
    border-color: #28a745!important;
}
*:focus{
  outline:0px;
}