{% extends "index.html" %}

{% block title %}
DOMO - Regístrate
{% endblock %}

{% block body %}
<section class="registro-fondo login">
    <div class="row g-0">
        <div class="col-lg-4 d-none d-lg-block">
        </div>
        <div class="form-register col-lg-4 bg-dark d-flex flex-column align-items-end min-vh-100">
            <div class="px-lg-5 pt-lg-4 pb-lg-3 p-4 mb-auto w-100">
                <img src="{{url_for('static',filename='Logo.svg')}}" class="img-fluid" />
            </div>
            <div class="align-self-center w-100 px-lg-5 py-lg-4 p-4" id="login_container">
                <h1 class="font-weight-bold mb-4">Registrate aquí</h1>

            <form class="mb-5" action="{{ url_for('register') }}" method=post id="formulario-registro">
                <div class="mb-4">
                    {{ form.email.label }}
                    {{ form.email(class_="form-control") }}
                </div>
                <div class="mb-4">
                    {{ form.password.label }}
                    {{ form.password(class_="form-control") }}
                </div>
                <div class="mb-4">
                    {{ form.confirm.label }}
                    {{ form.confirm(class_="form-control") }}
                </div>
                <div class="mb-4">
                {{ form.nombre.label }}
                {{ form.nombre(class_="form-control") }}
                </div>
                <div class="mb-4">
                {{ form.apellido.label }}
                {{ form.apellido(class_="form-control") }}
                </div>
                <div class="mb-4">
                {{ form.rut.label }}
                {{ form.rut(class_="form-control") }}
                </div>
            
                <div class="mb-4">
                {{ form.celular.label }}
                {{ form.celular(class_="form-control") }}
                </div>
            
                <div class="mb-4">
                {{ form.region.label }}
                <br>
                <select name="regiones" id="regioness" class="js-example-basic-single" style="width: 100%;">
                    <option value="0">Seleccione Region</option>
                    {% for item in regiones %}
                    <option value="{{item.reg_id}}">{{item.reg_nombre}}</option>
             <!--     {{ form.region(class_="form-control") }}-->
                    {% endfor %}
                </select>
                </div>

                <div class="mb-4"> 
                {{ form.ciudad.label }}
                <br>
              <!-- <select name="ciudades" id="ciudadess">--> 
                <select name="ciudad" class="form-select js-example-basic-single" id="ciudad" style="width: 100%;">
                  <option value="0">Seleccione Región</option>
                </select>
                {% for item in regiones %}
                <select name="{{item.reg_id}}" id="{{item.reg_id}}" class="form-select js-example-basic-single form-select" style="width: 100%;" >
                  <option value="0">Seleccione Ciudad</option>  
                  {% for ciudad in ciudades %}
                    {%  if ciudad.reg_id == item.reg_id %}
                    <option value="{{ciudad.ciu_id}}">{{ciudad.ciu_nombre}}</option>
                    {% endif %}
                  {% endfor %}
                </select>
                {% endfor %}
               </div>
            
                <div class="mb-4">
                {{ form.calle.label }}
                {{ form.calle(class_="form-control") }}
            </div>
            
                <div class="mb-4">
                {{ form.numero.label }}
                {{ form.numero(class_="form-control") }}
            </div>
            
                {{ form.submit(class_="btn btn-primary w-100") }}
            </form>

            </div>
        </div>

        <div class="col-lg-4 d-none d-lg-block">
        </div>

    </div>

</section>


{% endblock %}


{% block script %}
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('#regioness').select2({placeholder: 'Seleccione Región', allowClear: true});
  });

  $(document).ready(function() {
    $('#ciudad').select2();
  });

  $(document).ready(function(){
    let i=0;
    $($('#regioness').children('option')).each(function(){
      $('#'+i).select2().next().hide();
      i++;
    });
  });

  $('#regioness').change(function(){
      
      if($('#regioness').val()==0){
      $('#ciudad').select2().next().show();
      let i=0;
      $($('#regioness').children('option')).each(function(){
        $('#'+i).select2().next().hide();
        i++;
      });
    }else{
      $('#ciudad').select2().next().hide();
      let i=1;
      $($('#regioness').children('option')).each(function(){
        if(i==$('#regioness').val()){
          $('#'+i).select2().next().show();
        }else{
          $('#'+i).select2().next().hide();
        }
        i++;
      });
    }
  }); 

  $(document).ready(function() {

    $.validator.addMethod("valueNotEquals", function(value, element, arg){
       return arg !== value;
   }, "No debe seleccionar el valor por defecto");

$("#formulario-registro").validate({
  rules: {
    email: {
      required: true,
      email: true
    },
    celular: {
      required: true,
      digits: true
    },
    password: {
            required: true,
            minlength: 6
    },
    confirm: {
            required: true,
            minlength: 6,
            equalTo: "#password"
    },
    regiones: { 
      valueNotEquals: "0" }
    
  },
  messages: {
    nombre: "Campo requerido",
    apellido: "Campo requerido",
    calle: "Campo requerido",
    numero: "Campo requerido",
    celular: {
      required: "Campo requerido",
      digits: "Ingrese un número de teléfono valido"
    },  
    rut: "Campo requerido",
    email: {
        required: "Campo requerido",
        email: "Ingrese un email valido"
    },
   regiones: { valueNotEquals: "Selecciona una region valida" },
    password:{
            required: "Campo requerido",
            minlength: "El largo de la contraseña es de 6 a 16 caracteres"

    },
    confirm:{
            required: "Campo requerido",
            minlength: "El largo de la contraseña es de 6 a 16 caracteres",
            equalTo: "Las contraseñas deben coincidir"
    }
  
}
});
});

$("#rut")
  .rut({formatOn: 'keyup', validateOn: 'keyup'})

  (function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})



</script>




{% endblock %}

