{% extends "index.html" %}

{% block title %}
¡Reserva aquí!
{% endblock %}

{% block body %}
    <p>Hola Mundo! estamos en Reservas</p>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Restaurante</h1>
          <p class="lead">Para realizar tu reserva tienes que seleccionar un horario disponible y una mesa dentro de esto.<p>
        </div>
    </div>

    {% include "assets/form_reservar.html"%}
    <br>
    {% include "assets/form_mesa.html"%}

{% endblock %}