{% extends "index.html" %}

{% block title %}
¡Reserva aquí!
{% endblock %}

{% block body %}
    <div class="reserva-container">
    <div class="jumbotron jumbotron-fluid img-1">
        <div class="container black-background">
          <h1 class="display-4">Restaurante</h1>
          <p class="lead">Para realizar tu reserva tienes que seleccionar un horario disponible y una mesa disponible.<p>
        </div>
    </div>

    <div class="grid-reserva img-0">


    <div class="grid1">
      {% include "assets/form_reservar.html"%}

      {% include "assets/form_mesa.html"%}

    </div>

    <div class="grid2">

      <p>Aquí va la imagen</p>
 
    </div>

    </div>
  </div>
{% endblock %}