{% extends "index.html" %}

{% block title %}
Horarios Restaurante
{% endblock %}

{% block body %}
    Aquí se podrán editar y consultar los horarios del restaurante
    
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apertura</th>
            <th scope="col">Cierre </th>
            <th scope="col">Día Inicio</th>
            <th scope="col">Día Fin </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    
{% endblock %}