<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{url_for('index')}}">DOMO
          <img id="logo" src="{{ url_for('static', filename='domo-icon.png') }}" width="50" height="40" alt="logo-domo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarID"
            aria-controls="navbarID" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarID">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                <a class="nav-link" href="{{url_for('login')}}">Iniciar Sesion</a>
                <a class="nav-link" href="{{url_for('ingresar_restaurante')}}">Ingresar Restaurante</a>
                
            </div>
        </div>
     </div>
    </nav>