<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{url_for('index')}}">DOMO
         <!--  <img id="logo" src="{{ url_for('static', filename='domo-icon.png') }}" width="50" height="40" alt="logo-domo">-->
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarID"
            aria-controls="navbarID" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarID">
            <div class="navbar-nav">

                {% if session['tipo'] ==1 %}
                <a class="nav-link active" aria-current="page" href="{{url_for('dashboard')}}">Inicio</a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">AAA</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Perfil</a></li>
                        <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
                    </ul>
                </li>


                

                {% elif session['tipo']==2 %}
                <a class="nav-link active" aria-current="page" href="{{url_for('dashboard')}}">Inicio</a>
                <a class="nav-link" href="{{url_for('logout')}}">Cerrar Sesión</a>



                {% elif session['tipo']== 3 %}
                <a class="nav-link active" aria-current="page" href="{{url_for('dashboard')}}">Inicio</a>
                <a class="nav-link" href="{{url_for('gestionar_restaurantes')}}">Gestionar Restaurante</a>
                <a class="nav-link" href="{{url_for('gestionar_usuarios_admin')}}">Gestionar Usuarios</a>
                <a class="nav-link" href="{{url_for('logout')}}">Cerrar Sesión</a>


                {% else %}
                <a class="nav-link active" aria-current="page" href="{{url_for('index')}}">Inicio</a>
                <a class="nav-link" href="{{url_for('login')}}">Iniciar Sesion</a>
                <a class="nav-link" href="{{url_for('gestionar_restaurantes')}}">Gestionar Restaurante</a>


                {% endif %}

            </div>
        </div>
     </div>
    </nav>